# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PyInstaller
build/
dist/
*.spec.bak
*.spec~

# Archivos ejecutables
*.exe
*.app
*.dmg

# FFmpeg (archivo binario grande)
ffmpeg.exe

# Entornos virtuales
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales
*.tmp
*.log
*.bak

